html,
body {
	background-image: none !important;
	background-color: rgba(40, 42, 54, 1) !important;
	text-shadow: none!important;
	
}

.notion-semantic-string .code {
    color: rgba(139, 233, 253	,1) !important;
}

pre, .notion-code code {
    color: rgba(248, 248, 242 ,1) !important;
    background: none !important;
    font-size: .9em;
    line-height: 1.4;
    overflow-wrap: normal;
}

.token.comment {
  color: rgba(98, 114, 164,1) !important;
}

.token.boolean {
  color: rgba(255, 85, 85, 1)!important;
}

.token.keyword {
  color: rgba(255, 121, 198,1)!important;
}


.token.function {
  color: rgba(80, 250, 123,1)!important;
}

.token.punctuation {
  color: rgba(248, 248, 242, 1)!important;
}

.token.operator {
  color: rgba(255, 121, 198	,1)!important;
  background-color: rgba(52, 55, 70, 1)!important;
}

.token.number {
  color: rgba(255, 184, 108, 1)!important;
}

.token.builtin {
  color: rgba(139, 233, 253,1)!important;
}

.token.string {
  color: rgba(241, 250, 140,1)!important;
}

.token.property {
  color: rgba(80, 250,123 ,1)!important;
}

.token.atrule {
   color: rgba(139, 233, 253,1)!important;
}

.token.url {
  color: rgba(255, 184, 108,1)!important;
  background: none !important;
}


.token.constant {
  color: rgba(189, 147,249, 1)!important;
  background: none !important;
}

.token.content {
  color: rgba(248, 248, 242,1)!important;
}

.notion-semantic-string .code {
    border-radius: 5px;
    background-color: var(--color-ui-hover-bg);
    color: rgba(139, 233, 253, 1);
    font-size: .9em;
    padding: 0.2em 0.4em;
    word-break: break-word;
    text-shadow: none !important;
}

.notion-image.normal {
    box-shadow: 2px 2px 15px  rgba(0, 0, 0, 1);
}

.notion-image.page-width {
  box-shadow: 2px 2px 15px  rgba(0, 0, 0, 1);
}

.notion-code code {
    color: rgb(248, 248, 242, 1) !important;
}

pre, .notion-code code {
    color: rgba(139, 233, 253, 1 !important);
    background: none;
    font-size: .9em;
    line-height: 1.4;
    overflow-wrap: normal;
    text-shadow: none !important;
}


.super-navbar {
  box-shadow: 2px 2px 15px  rgba(0, 0, 0, 1);
  
}

.static-tweet-body {
    background-color:rgba(52, 55, 70, 1);
    color: rgba(248, 248, 242, 1);
}

a,
a * {
	color: rgba(80, 250, 123, 1) !important;
	background-color: transparent !important;
}

a:hover,
a:hover *,
a:visited:hover,
a:visited:hover *,
span[onclick]:hover,
div[onclick]:hover,
[role="link"]:hover,
[role="link"]:hover *,
[role="button"]:hover *,
[role="menuitem"]:hover,
[role="menuitem"]:hover *,
.link:hover,
.link:hover * {
	color: rgba(241, 250, 140, 1) !important;
}

a:visited,
a:visited * {
	color: rgba(98, 114, 164, 1) !important;
}

h2.notion-heading {
  color: rgba(139, 233, 253, 1) !important;
}

h3.notion-heading {
  color: rgba(139, 233, 253, 1) !important;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong,
[id*="headline"],
[class*="headline"],
[id*="header"],
[class*="header"],
[class*="header"] td {
	color: rgba(189, 147, 249, 1) !important;
}

table {
	background-color: rgba(40, 42, 54, 1) !important;
}

	
.super-navbar__cta {
    background: rgba(52, 55, 70, 1) !important;
    color: rgba(255, 85, 85, 1) !important;
    position: relative;
    opacity: 1;
    padding: 8px 15px;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    transition: opacity 1s ease-in-out;
}


input,
select,
button,
[role="button"],
a.button,
a.submit,
a.BigButton,
a.TabLink,
.install[onclick] {
	text-indent: 5px;
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgba(68, 71, 90, 1) !important;
}

textarea {
	appearance: none !important;
	-moz-appearance: none !important;
	-webkit-appearance: none !important;
	background: rgba(68, 71, 90, 1) !important;
}

div,
ul,
li {
	background-image: none !important;
}

pre,
dl {
	background-color: rgba(52, 55, 70, 1) !important;
	box-shadow: 3px 7px 20px  rgba(0, 0, 0, 1);
}



a.highlight,
a.highlight *,
a.active,
a.active *,
.selected,
.selected *,
[href="#"] {
	font-weight: bold !important;
	color: rgba(139, 233, 253, 1) !important;
}

.super-footer {
  background: rgba(52, 55, 70, 1) !important;
  box-shadow: 2px 2px 15px  rgba(0, 0, 0, 1);
}

body {
	color: rgba(248, 248, 242, 1);
	text-shadow: none !important;
}

/*-----------------------------*/
